Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never

BreakBeforeBraces: Attach
ColumnLimit: 160

AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCaseColons: false

PointerAlignment: Left

SortIncludes: Never
