<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AddivoxDemo</string>
	<key>CFBundleGetInfoString</key>
	<string>AddivoxDemo v1.0.0 copyright 2026 Ryan Wick</string>
	<key>CFBundleIconFile</key>
	<string>Addivox.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.rrwick.app.AddivoxDemo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AddivoxDemo</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>Advx</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.13.0</string>
	<key>NSMainNibFile</key>
	<string>Addivox-macOS-MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SWELLApplication</string>
</dict>
</plist>
